@import url('./reset.css');
@import url('./header.css');

.reverse-timer-section {
    padding-left: 156px;
    padding-top: 36px;
}

.container-inp-btn {
    width: 355px;
    height: 40px;
    display: flex;
    gap: 8px;
    margin-bottom: 36px;
}

#datetime-picker {
    width: 258px;
    border-radius: 4px;
    padding-left: 16px;
    border: 1px solid #808080;
    outline: none;
    color: #2e2f42;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.64px;
}

#datetime-picker:hover {
    border-color: #000;
}

#datetime-picker:active {
    color: #000;
    border-color: #4e75ff;
}

#datetime-picker:disabled {
    color: #808080;
    border-color: #808080;
    background-color: #fafafa;
}

[data-start] {
    color: #fff;
    font-size: 16px;

    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    border-radius: 8px;
    background: #4e75ff;
    display: flex;
    justify-content: left;
    align-items: left;
    border: none;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
}

[data-start]:hover {
    background-color: #6c8cff;
}

[data-start]:disabled {
    background-color: #cfcfcf;
    color: #989898;
}

.timer {
    background-color: #fff;
    display: flex;
    gap: 24px;
    width: 346px;
    align-items: center;
    justify-content: center;

}

.field {
    text-align: center;
}

.value {
    font-family: Montserrat;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-align: center;
    font-size: 40px;
    color: #2e2f42;
}

.label {
    text-transform: uppercase;
    color: #2e2f42;
    line-height: 24px;
}