@import url('./index.css');




.form {
    background-color: #ffffff;
    width: 440px;
    color: #2e2f42;
    line-height: 24px;
    letter-spacing: 0.64px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 16px;
}

.form>label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #2e2f42;
    line-height: 24px;
    width: 360px;
    margin: 0 auto;
}

.form>label>input {
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    outline: none;
    margin-bottom: 16px;
    padding: 8px 16px;
    color: #2e2f42;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.64px;
}

.form>label>input:hover {
    border-color: #000000;
}

.form>label>input:active {
    border-color: #4e75ff;
}

.form>fieldset {
    border-radius: 4px;
    border: 1px solid #808080;
    width: 360px;
    margin: 0 auto 24px;
}

.form>fieldset:hover {
    border-color: #000;
}

.form>fieldset:active {
    border-color: #000;
}

.form>fieldset>label>input {
    margin: 24px 0 8px 48px;
}

.form>button {
    display: flex;
    width: 360px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    border-radius: 8px;
    background: #4e75ff;
    border: none;
}

.form>button:hover {
    background-color: #6c8cff;
}

input[type='radio'] {
    transform: scale(1.5);
}